# TechnoHacks

**Task**: Calculate summary statistics (Mean,Median ,Mode ,Standard deviation ) for a dataset.

Dataset : https://www.kaggle.com/competitions/titanic/data?select=test.csv

In [3]:
import pandas as pd

# Load the dataset from a CSV file 
df = pd.read_csv('/content/test.csv')
# Calculate summary statistics
summary_stats = data.describe()

# Print the summary statistics
print(summary_stats)

       survival  pclass       age     sibsp  parch       fare
count  5.000000     5.0   5.00000  5.000000    5.0   5.000000
mean   0.600000     2.0  31.20000  0.600000    0.0  29.521660
std    0.547723     1.0   6.83374  0.547723    0.0  30.510029
min    0.000000     1.0  22.00000  0.000000    0.0   7.250000
25%    0.000000     1.0  26.00000  0.000000    0.0   7.925000
50%    1.000000     2.0  35.00000  1.000000    0.0   8.050000
75%    1.000000     3.0  35.00000  1.000000    0.0  53.100000
max    1.000000     3.0  38.00000  1.000000    0.0  71.283300

In [2]:
import pandas as pd

# Load the dataset from a CSV file 
df = pd.read_csv('/content/test.csv')

# Calculate summary statistics for numeric columns
numeric_stats = df.describe()

# Calculate mode for categorical columns
categorical_mode = df.mode().iloc[0]

# Display the results
print("Summary statistics for numeric columns:")
print(numeric_stats)

print("\nMode for categorical columns:")
print(categorical_mode)

Summary statistics for numeric columns:
       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

Mode for categorical columns:
PassengerId                              892
Pclass                                   3.0
Name           Abbott, Master. Eugene Joseph
Sex                                     male
Age                                     21.0
SibSp                                    0.0
Parch                                    0.0
Ticket                              PC 17608
Fare                                    7.75
Cabin                        B57 B59 B63 B66
Embarked                                   S
Name: 0, dtype: object